

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3 text-light">Find You Love or Fast Date With Us</h1>
        <p class="col-lg-10 fs-4 text-light">Single and looking for love? While there are always obstacles to meeting the right person, these tips can help you find lasting love and build a healthy, worthwhile relationship.</p>
      </div>
      <div class="col-10 mx-auto col-lg-5">
        <div class="p-5 border rounded-3 bg-dark">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-floating mb-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3 text-light">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <%= f.submit "Log in", class: "w-100 btn btn-lg btn btn-outline-info" %>
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </div>
      </div>
    </div>
  </div>

<% end %>
