<header class="site-header sticky-top py-1 bg-white border-bottom py-4">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <%= link_to " ", edit_account_registration_path, class: "fa fa-user fa-2x data-bs-target" %>
    <i class="fa fa-fire fa-2x"></i>




    <%= link_to '', destroy_account_session_path, :method => :delete, :class => "fa fa-door-open fa-2x" %></a>

   </nav>
</header>
