<footer class="pt-4 my-md-5 pt-md-3 border-top bg-light text-center">
    <div class="row">
      <div class="col-6 col-md">
         <ul class="list-unstyled text-small">
          <i id="decline" class="fa fa-ban fa-4x swipecard"></i>
        </ul>
      </div>
      <div class="col-6 col-md">
         <ul class="list-unstyled text-small">
          <i class="fa fa-grin-stars fa-4x swipecard"></i>
        </ul>
      </div>
      <div class="col-6 col-md">
         <ul class="list-unstyled text-small">
          <i id="approve" class="fa fa-heart fa-4x swipecard"></i>
        </ul>
      </div>
     </div>
  </footer>
