<header class="site-header sticky-top py-1 bg-white border-bottom py-4">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <i class="fa fa-user fa-2x data-bs-target="#pills-profile""></i>
    <i class="fa fa-fire fa-2x"></i>





    <i id="get_message" class="fa fa-door-open fa-2x"></i>
  </nav>
</header>
