/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';
@import 'slides';


body {
  background-image: url(back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: #d1d4d7c9;
  }
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      background-color: #212529;
}

.row {
      margin-right: 0px;
}

a {
  color: #cdd5e0;
}
