
<div class="px-4 py-5 my-5 text-center">
   <i class="fab fa-gg fa-5x d-block mx-auto mb-4"></i>
  <h1 class="display-5 fw-bold text-light">Find You Love or Fast Date With Us</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 text-light">Single and looking for love? While there are always obstacles to meeting the right person, these tips can help you find lasting love and build a healthy, worthwhile relationship.
</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to "Sign In", new_account_session_path, class: "btn btn-outline-light btn-lg px-4 me-sm-3" %>
      <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-outline-info btn-lg px-4" %>
     </div>
  </div>
</div>
